# comma seperated string, example: 'jpg,png,svg,webp,jpeg,mp3,mp4,mpeg4,wmv,3gp,webm'
DEFAULT_UPLOAD_TO_AWS_S3 = ''

# comma seperated string, example: 'DOC,docx,csv,pdf'
DEFAULT_UPLOAD_TO_GCS = ''

AWS_BUCKET_NAME = ''
AWS_ACCESS_KEY_ID = ''
AWS_SECRET_ACCESS_KEY=''